.marquee-wrapper {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
  scrollbar-width: none;
  cursor: grab;
}
.marquee-wrapper::-webkit-scrollbar {
  display: none;
}
.marquee-content {
  display: flex;
  gap: 1.5rem;
  padding: 10px 20px;
}
.marquee-wrapper { scroll-behavior: auto !important; }
